{{ define "main" }}

<!-- ======= Blog Single ======= -->
<div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  <img src="/img/IMG_6912.jpg" class="img-responsive" alt="reviews2" style="width: 100%">
                  <div class="content-main single-post padDiv">
                    <div class="journal-txt">
                      <h4><a href="">{{ .Page.Title }}</a></h4>
                    </div>
                    <div class="post-meta">
                      <ul class="list-unstyled mb-0">
                        <li style="margin-left: 0;">by:<a href="#"></a>Joanna Florence</li>
                        <li>date:<a href="#"></a>{{ .PublishDate.Format "January 2, 2006" }}</li>
                      </ul>
                    </div>
                    {{ .Content }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Blog Single -->

  {{ end }}