{{ define "main" }}

<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <img src="/img/about.jpg" class="img-responsive" alt="me">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="about-descr">

          <p class="p-heading">im JOANNA laikin, a G in the sewing business and the woman, the myth, the legend to the embrioderers of the world </p>
          <p class="separator">most days you can find me making stuff with my german assistant</p>

        </div>

      </div>
    </div>
  </div>
</div><!-- End About Section -->

<!-- ======= Services Section ======= -->
<div id="services">
  <div class="container">

    <div class="services-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-briefcase"></i>
            <span>EMBRIODERY</span>
            <p class="separator">To an English person, it will seem like simplified English,told me what </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-card-checklist"></i>
            <span>SEWING</span>
            <p class="separator">To an English person, it will seem like simplified English,told me what </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-bar-chart"></i>
            <span>PATTERNS</span>
            <p class="separator">To an English person, it will seem like simplified English,told me what </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-binoculars"></i>
            <span>MASKS</span>
            <p class="separator">To an English person, it will seem like simplified English,told me what </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</div><!-- End Services Section -->

{{ end }}