{{ define "main" }}

<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <div class="portfolio-item-aspect" style="background-image: url(/img/joanna/joanna1.jpg);"></div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="about-descr">

          {{ .Content }}

        </div>

      </div>
    </div>
  </div>
</div><!-- End About Section -->

<!-- ======= Services Section ======= -->
<div id="services">
  <div class="container">

    <div class="services-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-star"></i>
            <span>EMBRIODERY</span>
            <p class="separator"></p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-scissors"></i>
            <span>SEWING</span>
            <p class="separator"></p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-bookmark-heart"></i>
            <span>PATTERNS</span>
            <p class="separator"></p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-book"></i>
            <span>TUTORIALS</span>
            <p class="separator"></p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</div><!-- End Services Section -->

{{ end }}