{{ define "main" }}

<!-- ======= About Section ======= -->
<div id="about" class="paddsection">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-4 ">
        <div class="div-img-bg">
          <div class="about-img">
            <img src="/img/joanna/joanna1.jpg" class="img-responsive" alt="me">
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="about-descr">

          {{ .Content }}

        </div>

      </div>
    </div>
  </div>
</div><!-- End About Section -->

<!-- ======= Services Section ======= -->
<div id="services">
  <div class="container">

    <div class="services-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-pin-angle"></i>
            <span>EMBRIODERY</span>
            <p class="separator">Fill me in with some descriptive text... </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-scissors"></i>
            <span>SEWING</span>
            <p class="separator">Fill me in with some descriptive text... </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-droplet"></i>
            <span>PATTERNS</span>
            <p class="separator">Fill me in with some descriptive text... </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="services-block">
            <i class="bi bi-bag-plus"></i>
            <span>MASKS</span>
            <p class="separator">Fill me in with some descriptive text... </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

</div><!-- End Services Section -->

{{ end }}