{{ define "main"}}

<!-- ======= Blog Single ======= -->
<div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                    <h1 class="text-center">The page you are looking for could not be found</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Blog Single -->
{{ end }}