{{ define "main" }}

<!-- ======= welcome Section ======= -->
<div id="services">
  <div class="container ">
    <div class="row">
    <div class="col col-9 text-muted">
      Hi I'm Jo. I like to make things. Make things very good!

    </div>
    <div class="col col-2">
      <img src="/img/jo.jpg" style="width:100%"/>
    </div>
    </div>
  </div>

</div><!-- End welcome Section -->

<!-- ======= Portfolio Section ======= -->
<div id="portfolio" class="paddsection">

  <div class="container">
    <div class="section-title text-center">
      <h2>My Makes</h2>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-embroidery">Embroidery</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <!-- {{ .Content }} -->
      {{ range partial "getfeatured.html" 3 }}
        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ .Params.tag }}">
          <a href="{{ .Page.Permalink }}"><img src="img/{{ .Params.image }}" class="img-fluid" alt=""></a>
          <div class="portfolio-info">
              <h4>{{ .Params.title }}</h4>
              <p>{{ .Params.subtitle }}</p>
              <a href="img/{{ .Params.image }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
          </div>
        </div>
      {{ end }}

    </div>

  </div>

</div><!-- End Portfolio Section -->

<div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>Blog</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">

            {{ $blog := .Site.Taxonomies.categories.blog  }}
                {{ range last 1 ($blog.Pages.ByDate) }}
                <div class="col-lg-4 col-md-6">
                  <div class="journal-info">
    
                    <a href="{{ .Page.Permalink }}"><img src="img/IMG_6912.jpg" class="img-responsive" alt="img"></a>
    
                    <div class="journal-txt">
                      <h4><a href="blog-single.html">{{ .Page.Title }}</a></h4>
                      <p class="separator">
                        To an English person, it will seem like simplified English
                      </p>
                    </div>
    
                  </div>
                </div>
            {{ end }}

          </div>
        </div>
      </div>

    </div><!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">GET IN TOUCH</h2>

                <ul class="contact-details">
                  <li><span>Email: jo@JoannaFlorenceMakes.com</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->

{{ end }}
